.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: clamp(2rem, -1.75rem + 12vw, 4rem);
  color: #3b82f6;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: clamp(1rem, 0.3056rem + 2.2222vw, 2.25rem);
  color: #ffff;
}

.input:focus-visible{
  outline: none;
  border: #5c47c8 solid 2px;
}

.btnWrapper{
  display: flex;
  justify-content: end;
}

.btn {
  background-color: transparent;
  color: #ffff;
  --primary-color: #3b82f6;
  --hovered-color: #5c47c8;
  border: var(--primary-color) solid 2px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: clamp(0.75rem, 0.3056rem + 2.2222vw, 2rem);
  margin-top: 3%;
}

.btn:hover {
  border: var(--hovered-color) solid 2px;
}

.error {
  color: red;
  font-size: clamp(0.75rem, 0.3056rem + 2.2222vw, 2rem);
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 2%;
}